.mytable {
	text-align: center;
	margin: 1px;
	width: 700px;
}

.mytable td  {
	border: 1px solid #000;
	padding: 1px !important;
}

.mytable input {
	width: 7em;
}

#myTable input{
	width: 5em;
}

.firstColumn {
	text-align: left;	
}